<launch>
  <arg name="model" default="$(find RIVO_description)/urdf/RIVO.xacro"/>
  <arg name="gui" default="true"/>
  <arg name="rvizconfig" default="$(find RIVO_description)/launch/urdf.rviz"/>
  <param name="robot_description" command="$(find xacro)/xacro $(arg model)"/>
  <param name="use_gui" value="$(arg gui)"/>
  <rosparam file="$(find RIVO_description)/config/controllers.yaml" command="load"/>
  <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui"/>
  <node pkg="tf" type="static_transform_publisher" name="map_to_base" args="1 0 0 0 0 0 1 /map /dummy_link 10" />
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
  output="screen" ns="/RIVO" args="joint_state_controller dof_1_control dof_2_control dof_3_control dof_4_control" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
  <node name="rviz" pkg="rviz" args="-d $(arg rvizconfig)" type="rviz" required="true"/>
</launch>
